.form-Container {
  margin-top: 100px;

  .signUp-Form-Btn {
    margin-top: 20px;
    width: 100%;
  }

  .signIn-Form-Btn {
    margin-top: 20px;
    width: 100%;
  }

  .MuiFormHelperText-root {
    &.true {
      color: #8f8c8b;
    }

    &.false {
      color: #ff2727;
    }
  }
}